:root{
    /* ========COLOR ========= */
    --primary:#003366;
    --secondary:#d2b48c;
    --secondary-dark:#c78c40;

/* ==========Font-size========== */
    /* Petit texte */
    --fs-small: calc(0.85rem + 0.20vw);

    /* Texte normal */
    --fs-normal: calc(1rem + 0.4vw);

    /* Titres */
    --fs-title: calc(1.6rem + 1vw);
    /* =========TRANSITION=========== */
    --transition:.3s ease;
}
*{
    list-style: none;
    padding: 0;
    outline: none;
    margin: 0;

}
main{
    margin-top: 70px;
    background-color: var(--primary);
    font-family: "Source sans 3", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
button,
a,
.servicesCard,
.contact-item{

    transition:var(--transition);

}
.icon{
    max-width: 30px;
    height: auto;
}

/* Ajoute un espace de 80px au-dessus du titre lors de l'arrivée sur l'ancre */
section {
  scroll-margin-top: 80px;
  padding: 0 10vw;
}

.Hero{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
    color: #fff;
    height: auto;
    overflow: hidden;   
}
.HeroInfos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.heroTitle {
    color: #fff;
    font-size: calc(1rem + 6vw);
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
}
.ligne {
    border: var(--secondary) 3px solid;
    width: 81%;
}
.heroTitle span{
    color: var(--secondary);
}
.heroSousTitre,
.fonction{
    font-size: calc(1rem + 1.5vw);
    width: 100%;
}
.heroSousTitre,
.heroDescription,
.CtaContenair{
    padding-top: 20px;
}
.fonction{
    font-family:'Courier New', Courier, monospace;
}
.heroDescription{
    font-size: calc(1rem + 1vw);
}
.CtaContenair{
    display: flex;
    gap: 50px;
}
.bttn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    background: var(--secondary);
    padding: 2%;
    margin-top: 25px;
    font-size: calc(0.5rem + 1vw);
    border: none;
    border-radius: 25px;
    color: var(--primary);
    box-shadow: 2px 2px 5px #0000007c;
    white-space: nowrap;

}
#MeCOntacterBttn, #TelechargerCV{
    max-width: 380px;
    height: auto;
}
#envoyericon, #TelechargerCVIcon{
    width: 10vw;
    height: auto;
    transform: translateY(5px);
}
#TelechargerCV{
    background: inherit;
    color: #fff;
    border: var(--secondary) solid 1px;
}
.bttn:hover,.hoveredBttn, #TelechargerCV:hover{
    background: var(--secondary);
    color: #fff;
    transform: translateY(-5px);
}
.profilContenaire{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding-top: 50px;
}
#profilHero {
    z-index: 2;
    width: 100%;
    max-width: 460px;
    margin-top: auto;
}

.circle{
    position: absolute;
    z-index: 1;
    border: #d2b48c46 solid 2px;
    border-radius: 50%;
    width: 50vw;
    aspect-ratio: 1 / 1;
}
.second{
    width: 40vw;
    aspect-ratio: 1 / 1;
}
.dotrotate{
    border: #d2b48c46 dashed 5px;
    width: 30vw;
    aspect-ratio: 1 / 1;
    animation: spin-slow 30s linear infinite;
}
.fill{
    border: none;
    width: 25vw;
    aspect-ratio: 1 / 1;
    background: #d2b48c46;
}
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to   { transform:  rotate(360deg); }
}


/* ***********************about&services SECTION************ */

.aboutServices , .skillsContenaire{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
    max-width: 100%;
}
.skillsContenaire{
    max-height: 30vh ;
    font-size: var(--fs-normal);

}
.about{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90%;
}
.aboutDescription
{
    font-size: var(--fs-normal);
}
.bttn.more{
    animation: none;
    margin-top: auto;
    margin-bottom: 50px;
}
.services{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

}
.title{
    font-size: var(--fs-title);
    color: var(--primary);
}
.cardsContenaire{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px, 1fr));
    gap: 30px;
    width: 100%;

}
.shadowed{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.315);
}
.servicesCard{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px ;
    border: 1px solid #d4b95c;
    border-radius: 30px;
    padding: 20px;
    min-width:210px;
    min-height: 320px;
    cursor: pointer;
}
.servicesCard:hover{
    box-shadow: 0 10px 30px #d1b084b0;
}
.servicesCard img{
    width: 45px;
    height: 45px;
    background-color: #d1b084b0;
    border: none;
    border-radius: 50%;
    padding: 15px;
    overflow: visible;
}
#devcards{
    background: var(--primary);
}
#devcards .description{
    color:white;
}
#devcards .service-title{
    color:var(--secondary);
}
.service-title{
    color: #003366;
    font-size: 1.5rem;
}
.description{
    color: #000;
    pad: 0 5px;
}
.serviceRedirectio{
    animation: none;
    position: relative;
    font-size: 1.2rem;
    padding: 5px;
    margin-top: auto;
    border-radius: 10px;
}
.serviceRedirectio{
    transform: none;
}

/* **************skillsContenaire Section****** */
.skillsContenaire{
    background: inherit;
    min-height: 50vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    position: relative;
    /* z-index: 2; */
}
.skillsContenaire .title{
    color: #fff;
}
.competencesList{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.competencesSubTitles {
    color: var(--secondary);
    font-size: 1.4rem;
}
.competences{
    counter-reset: liste;
    display: flex;
    flex-direction: column;
}
.competencesWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.competences ol li {
    color: #fff;
    font-size: 1.2rem;
}
.competences ol li::before{
    display: inline-block;
    counter-increment: liste;
    content: counter(liste);
    color: #003366;
    font-weight: bold;
    padding: 2px;
    background: #ffffff8a;
    margin-right: 5px;
    aspect-ratio: 1;
    width: 28px;
    border-radius: 50%;
    text-align: center;
}
.skillsContenaire .remark{
    font-size: 1.1rem;
    width: 60%;
    margin: 20px auto;
    color: rgba(128, 128, 128, 0.623);
}
.stackIconeContenaire{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.StackIcone {
    padding-top: 5px;
}
.StackIcone img{
    max-width: 60px;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 20px;
}
