*{
    transition: 100ms ease;
    list-style: none;
    padding: 0;
}
main{
    background-color: #003366;
    font-family: "Source sans 3", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.icon{
    width: 30px;
    height: auto;
}

/* Ajoute un espace de 80px au-dessus du titre lors de l'arrivée sur l'ancre */
section {
  scroll-margin-top: 80px; 
}

.Hero{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 200px;
    justify-content: space-between;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}
.HeroInfos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.heroTitle {
    color: #fff;
    font-size: 7rem;
    box-sizing: border-box;
    width: 100%;
    border-bottom: #d2b48c 3px solid;
}
.heroTitle span{
    color: #d2b48c;
}
.heroSousTitre,
.fonction{
    font-size: 4rem;
}
.heroSousTitre,
.heroDescription,
.CtaContenair{
    padding-top: 20px;
}
.fonction{
    font-family:'Courier New', Courier, monospace;
}
.heroDescription{
    font-size: 4vh;
}
.CtaContenair{
    display: flex;
    gap: 50px;
}
.bttn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    background: #d2b48c;
    padding: 15px 10px;
    margin-top: 25px;
    font-size: 20pt;
    border: none;
    border-radius: 25px;
    color: #003366;
    animation: float 2s ease-in-out infinite;
    box-shadow: 2px 2px 5px #0000007c;
}
.bttn #envoyericon, #TelechargerCV{
    transform: translateY(5px);
}
.bttn:hover,.hoveredBttn{
    background: #c78c40;
    color: #fff;
    transform: translateY(-5px);
}
.profilContenaire{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10vh;
}
@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50%       { transform: translateY(-8px); }
}
#profilHero {
    z-index: 2;
    display: block;
}
.circle{
    position: absolute;
    z-index: 1;
    border: #d2b48c46 solid 2px;
    border-radius: 50%;
    width: 95vh;
    height: 95vh;
}
.second{
    width: 70vh;
    height: 70vh;
}
.dotrotate{
    border: #d2b48c46 dashed 5px;
    width: 60vh;
    height: 60vh;
    animation: spin-slow 30s linear infinite;
}
.fill{
    border: none;
    width: 50vh;
    height: 50vh;
    background: #d2b48c46;
}
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to   { transform:  rotate(360deg); }
}


/* ***********************about&services SECTION************ */

.aboutServices , .skillsContenaire{
    display: flex;
    flex-direction: row;
    gap: 100px;
    background: #fff;
    height: 50vh;
    padding: 50px 100px 50px 200px;
}
.sousTitre{

    font-size: 1.6rem;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aboutDescription
{
    font-size: 1.5rem;
}
.bttn.more{
    animation: none;
    margin-top: auto;
    margin-bottom: 50px;
}
.services{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

}
.title{
    font-size: 2.5rem;
    color: #003366;
}
.cardsContenaire{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.shadowed{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.315);
}
.servicesCard{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px ;
    border: 1px solid #d4b95c;
    border-radius: 30px;
    padding: 20px;
    width:210px;
    min-height: 320px;
    cursor: pointer;
}
.servicesCard:hover{
    box-shadow: 0 10px 30px #d1b084b0;
}
.servicesCard img{
    width: 45px;
    height: 45px;
    background-color: #d1b084b0;
    border: none;
    border-radius: 50%;
    padding: 15px;
    overflow: visible;
}
#devcards{
    background: #003366;
}
#devcards .description{
    color:white;
}
#devcards .service-title{
    color:#d2b48c;
}
.service-title{
    color: #003366;
    font-size: 1.5rem;
}
.description{
    color: #000;
    pad: 0 5px;
}
.serviceRedirectio{
    animation: none;
    position: relative;
    font-size: 1.2rem;
    padding: 5px;
    margin-top: auto;
    border-radius: 10px;
}
.serviceRedirectio{
    transform: none;
}

/* **************skillsContenaire Section****** */
.skillsContenaire, .stack{
    background: inherit;
    height: 50vh;
    justify-content: space-between;
}
.skillsContenaire .title{
    color: #fff; 
}
.competencesList{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.competencesSubTitles {
    color: #d2b48c;
    font-size: 1.4rem;
}
.competences{
    counter-reset: liste;
    display: flex;
    flex-direction: column;
}
.competencesWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.competences ol li {
    color: #fff;
    font-size: 1.2rem;
}
.competences ol li::before{
    display: inline-block;
    counter-increment: liste;
    content: counter(liste);
    color: #003366;
    font-weight: bold;
    padding: 2px;
    background: #ffffff8a;
    margin-right: 5px;
    aspect-ratio: 1;
    width: 28px;
    border-radius: 50%;
    text-align: center;
}   
.skillsContenaire .remark{
    font-size: 1.1rem;
    width: 60%;
    margin: 20px auto;
    color: rgba(128, 128, 128, 0.623);
}
.stackIconeContenaire{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.StackIcone {
    padding-top: 5px;
}
.StackIcone img{
    max-width: 60px;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 20px;
}